<!DOCTYPE html>
<html ng-app="iraApp">
<head>
	<title>Ira</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<script language="javascript" type="text/javascript" src="js/p5.js"></script>
	<script language="javascript" type="text/javascript" src="js/sketch.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/index.css">
	<link rel="icon"  type="image/png"  href="/imgs/favicon.png">
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101162697-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-101162697-3');
	</script>
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script> -->
	<script src="js/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="mainController">
	<div class="mobile_test"></div>
	<div class="loading">
		<div class="loading__container">
			<div class="loading__icon"></div>
		</div>
	</div>
	<!-- <div class="fullscreen fullscreen--white">	
		<div class="image-jumble-container">
			<div class="image-jumble-container__left-block">
				<div class="rotated-image" style="background-image: url('./imgs/gbi-rocks.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/horses1.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/shinjuku1.JPG')"></div>
				<div class="rotated-image" style="background-image: url('./imgs/ollymic.JPG');"></div>		
				<div class="rotated-image" style="background-image: url('./imgs/akihabara1.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/gbi-branch.JPG');"></div>		
				<div class="rotated-image" style="background-image: url('./imgs/toys.JPG');;"></div>
				<div class="rotated-image" style="background-image: url('./imgs/gbi-sunset.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/gbi-beach.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/beardman.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/smilelady.JPG');"></div>		
		 		<div class="rotated-image" style="background-image: url('./imgs/bunnyman.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/sleep.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/view.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/blind.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/steel.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/bridge.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/future.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/gradient.JPG');"></div>
				<div class="rotated-image" style="background-image: url('./imgs/sunset.JPG');"></div>
			</div>
			<div class="image-jumble-container__right-block">
				<h1>Ira</h1>
				<div class="arrows">
					<div ng-click="scrollTo('1')" class="arrows__arrow">&larr;</div>
					<div class="arrows__arrow">&rarr;</div>
				</div>
			</div>
		</div> -->
	<div class="fullscreen fullscreen--home" id="set-0">	
		<div class="image-strip-container" ng-init=setImageStripWidth>
			<div ng-click="scrollTo('3')" class="image-strip" style="background-image: url('./imgs/horses1.JPG'); background-position: 35% 40%;"></div>
			<div ng-click="scrollTo('4')" class="image-strip" style="background-image: url('./imgs/akihabara1.JPG'); background-position: 25% 60%;"></div>
			<div ng-click="scrollTo('5')" class="image-strip" style="background-image: url('./imgs/smilelady.JPG'); background-position: 63% 40%;"></div>		
			<div ng-click="scrollTo('3')" class="image-strip" style="background-image: url('./imgs/gbi-sunset.JPG'); background-position: 41% 35%;"></div>
			<div ng-click="scrollTo('3')" class="image-strip" style="background-image: url('./imgs/gbi-beach.JPG'); background-position: 41% 90%;"></div>
			<div ng-click="scrollTo('1')" class="image-strip" style="background-image: url('./imgs/beardman.JPG'); background-position: 56% 25%;"></div>
	 		<div ng-click="scrollTo('7')" class="image-strip" style="background-image: url('./imgs/bridge.JPG'); background-position: 30% 61%;"></div>
	 		<div ng-click="scrollTo('1')" class="image-strip" style="background-image: url('./imgs/bunnyman.JPG'); background-position: 50% 58%;"></div>
	 		<div ng-click="scrollTo('4')" class="image-strip" style="background-image: url('./imgs/singapore.JPG'); background-position: 61% 30%;"></div>
	 		<div ng-click="scrollTo('8')" class="image-strip" style="background-image: url('./imgs/blue.JPG'); background-position: 30% 60%;"></div>
	 		<div ng-click="scrollTo('7')" class="image-strip" style="background-image: url('./imgs/future.JPG'); background-position: 51% 40%;"></div>
			<div ng-click="scrollTo('6')" class="image-strip" style="background-image: url('./imgs/ollymic.JPG'); background-position: 41% 40%;"></div>		
			<div ng-click="scrollTo('9')" class="image-strip" style="background-image: url('./imgs/toys.JPG'); background-position: 100% 47%;"></div>
	 		<div ng-click="scrollTo('2')" class="image-strip" style="background-image: url('./imgs/gradient.JPG'); background-position: 53% 0%;"></div>
	 		<div ng-click="scrollTo('6')" class="image-strip" style="background-image: url('./imgs/sleep.JPG'); background-position: 47% 49%;"></div>
	 		<div ng-click="scrollTo('2')" class="image-strip" style="background-image: url('./imgs/sunset.JPG'); background-position: 59% 85%;"></div>
	 		<div ng-click="scrollTo('4')" class="image-strip" style="background-image: url('./imgs/flowers.JPG'); background-position: 26% 75%;"></div>
	 		<div ng-click="scrollTo('8')" class="image-strip" style="background-image: url('./imgs/blind.JPG'); background-position: 39% 80%;"></div>
	 		<div ng-click="scrollTo('5')" class="image-strip" style="background-image: url('./imgs/stripelady.JPG'); background-position: 43% 0%;"></div>
		</div>
	</div>
	</div>	
	<div class="fullscreen" id="set-1">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="double-image-container">
			<div class="double-image-container__image image" style="background-image: url('./imgs/beardman.JPG');"></div>
			<div class="double-image-container__image image" style="background-image: url('./imgs/bunnyman.JPG');"></div>
		</div>
	</div>
	<div class="fullscreen" id="set-2">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="double-image-container">
			<div class="double-image-container__image image" style="background-image: url('./imgs/sunset.JPG');"></div>
			<div class="double-image-container__image image" style="background-image: url('./imgs/gradient.JPG');"></div>
		</div>
	</div>
	<div class="fullscreen" id="set-3">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="triple-image-container">
			<div class="triple-image-container__image image" style="background-image: url('./imgs/horses1.JPG');"></div>
			<div class="triple-image-container__image image" style="background-image: url('./imgs/gbi-beach.JPG');"></div>
			<div class="triple-image-container__image image" style="background-image: url('./imgs/gbi-sunset.JPG');"></div>
		</div>
	</div>
	<div class="fullscreen" id="set-4">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="triple-image-container">
			<div class="triple-image-container__image image" style="background-image: url('./imgs/flowers.JPG');"></div>
			<div class="triple-image-container__image image" style="background-image: url('./imgs/singapore.JPG');"></div>
			<div class="triple-image-container__image image" style="background-image: url('./imgs/akihabara1.JPG');"></div>
		</div>
	</div>
	<div class="fullscreen" id="set-5">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="double-image-container">
			<div class="double-image-container__image image" style="background-image: url('./imgs/smilelady.JPG');"></div>
			<div class="double-image-container__image image" style="background-image: url('./imgs/stripelady.JPG');"></div>
		</div>
	</div>
	<div class="fullscreen" id="set-6">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="double-image-container">
			<div class="double-image-container__image image" style="background-image: url('./imgs/sleep.JPG');"></div>
			<div class="double-image-container__image image" style="background-image: url('./imgs/ollymic.JPG');"></div>
		</div>
	</div>
	<div class="fullscreen" id="set-7">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="double-image-container">
			<div class="double-image-container__image image" style="background-image: url('./imgs/future.JPG');"></div>
			<div class="double-image-container__image image" style="background-image: url('./imgs/bridge.JPG');"></div>
		</div>
	</div>
	<div class="fullscreen" id="set-8">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="double-image-container">
			<div class="double-image-container__image image" style="background-image: url('./imgs/blind.JPG');"></div>
			<div class="double-image-container__image image" style="background-image: url('./imgs/blue.JPG');"></div>
		</div>
	</div>
	<div class="fullscreen" id="set-9">	
		<div class="arrows">
			<div ng-click="scrollTo('0')" class="arrows__arrow">&uarr;</div>
		</div>
		<div class="single-image-container">
			<div class="single-image-container__image image" style="background-image: url('./imgs/toys.JPG');"></div>
		</div>
	</div>
</body>