html, body {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  background-color: #222222;
  color: white; }

.title {
  height: 75px;
  background-color: #007777; }
  .title h1 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    font-weight: 100;
    line-height: 75px;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 2em;
    display: inline-block; }
  @media only screen and (min-width: 64em) {
    .title {
      position: absolute;
      z-index: 2;
      left: 60%;
      top: 0;
      height: 100px;
      margin: 0 0 0 10px;
      color: #222222;
      font-size: 1.5em; } }

.nav {
  display: none; }
  @media only screen and (min-width: 64em) {
    .nav {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
      padding: 0 0 0 115px;
      box-sizing: border-box;
      display: inline;
      position: absolute;
      left: 60%;
      top: 0;
      width: 40%;
      min-width: 475px;
      height: 100px;
      background-color: #007777; }
      .nav__button {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        position: relative;
        float: left;
        margin: 0 10px 0 10px;
        width: 100px;
        height: 40px;
        background-color: #222222;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }
        .nav__button--active {
          background-color: rgba(255, 255, 255, 0.3); }
      .nav span {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: relative;
        display: inline-block; } }

.info {
  display: inline-block;
  position: relative;
  margin: 0 10px 10px 10px;
  text-align: center; }
  .info p {
    margin: 5px 0 5px 0; }
  @media only screen and (min-width: 64em) {
    .info {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      position: absolute;
      width: 40%;
      left: 60%;
      display: inline-block;
      color: white;
      margin: 0 0 0 0;
      box-sizing: border-box;
      padding: 0 10px 0 10px; } }

.music {
  height: 450px;
  width: 100%;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px 0 10px; }
  @media only screen and (min-width: 64em) {
    .music {
      padding: 0 40px 0 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 40%;
      height: 60%;
      left: 60%; } }

.images {
  padding: 5px 0 0 0;
  position: relative;
  height: 400px;
  width: 100%; }
  .images__img {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 90%;
    width: 100%;
    background-position: top;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat; }
  @media only screen and (min-width: 64em) {
    .images {
      padding: 0 0 0 0;
      width: 60%;
      height: 100%;
      position: relative;
      box-sizing: border-box; }
      .images__img {
        background-position: center;
        height: 100%;
        width: 100%; } }

.images-arrows {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  position: relative;
  height: 10%;
  width: 155px; }
  .images-arrows__arrow {
    width: 70px;
    float: left;
    margin: 10px 3px 0 3px; }
    .images-arrows__arrow span {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      width: 100%;
      text-align: center;
      position: relative;
      display: inline-block;
      background-color: #007777;
      border-radius: 5px; }
  @media only screen and (min-width: 64em) {
    .images-arrows {
      position: absolute;
      top: 25px;
      left: calc(100% - 100px); }
      .images-arrows__arrow {
        cursor: pointer; } }

/*# sourceMappingURL=index.css.map */
