$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$small-breakpoint: em(1024) !default;

@mixin respond-to($media) {
  @if $media == non-mobile {
    @media only screen and (min-width: $small-breakpoint) { @content; }
  }
}

@mixin center {
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin center-horizontal {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

html, body {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	// background-color: $black;
}

.title {
	height: 75px;
	h1 {
		@include center;
		position: relative;
		font-weight: 100;
		line-height: 75px;
		text-align: center;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-size: 2em;
		display: inline-block;
	}
	@include respond-to(non-mobile) {
		position: absolute;
		z-index: 2;
		left: 60%;
		top: 0;
		height: 100px;
		margin: 0 0 0 10px;
		font-size: 1.5em;
	}
}

.nav {
	display: none;
	@include respond-to(non-mobile) {
		padding: 0 0 0 115px;
		box-sizing: border-box;
		display: inline;
		position: absolute;
		left: 60%;
		top: 0;
		width: 40%;
		min-width: 475px;
		height: 100px;
		&__button {
			@include center-vertical;
			cursor: pointer;
			position: relative;
			float: left;
			// margin: 0 10px 0 10px;
			width: 100px;
			height: 100%;
			font-size: 1.3em;
			&--active {
				span {
					text-decoration: underline;
				}
			}
		}
		span {
			@include center;
			position: relative;
			display: inline-block;
		}
	}
}

.info {
	display: inline-block;
	position: relative;
	margin: 0 10px 10px 10px;
	text-align: center;
	p {
		margin: 5px 0 5px 0;
	}
	@include respond-to(non-mobile) {
		top: 120px;
		position: absolute;
		width: 40%;
		left: 60%;
		display: inline-block;
		color: black;
		margin: 0 0 0 0;
		box-sizing: border-box;
		padding: 0 10px 0 10px;
	}
}

.music {
	top: 250px;
	height: 450px;
	width: 100%;
	margin: 0 0 10px 0;
	box-sizing: border-box;
	position: relative;
	padding: 0 10px 0 10px;
	@include respond-to(non-mobile) {
		top: 120px;
		padding: 0 40px 0 40px;
		position: absolute;
		width: 40%;
		height: 60%;
		min-height: 440px;
		left: 60%;
	}
}

.images {
	padding: 5px 0 0 0;
	position: relative;
	&__img {
		@include center-horizontal;
		margin: 0 0 10px 0;
		height: 90%;
		width: 95%;
		background-position: top;
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
	}
	height: 400px;
	width: 100%;
	@include respond-to(non-mobile) {
		padding: 0 0 0 0;
		width: 60%;
		height: 100%;
		position: absolute;
		box-sizing: border-box;
		&__img {
			@include center;
			position: absolute;
			background-position: center;
			height: 95%;
			width: 95%;
			&--portrait {
				position: relative;
				top: 35%;
				left: 78%;
				height: 55%;
				width: 50%;
				z-index: 2;
			}
		}
	}
}

.videos {
	display: none;
	@include respond-to(non-mobile) {
		top: 120px;
		display: inline-block;
		position: absolute;
		width: 40%;
		min-width: 500px;
		height: 60%;
		min-height: 500px;
		left: 60%;
	}
	iframe {
		@include center-horizontal;
		top: 0;
		position: relative;
		width: 95%;
		height: 70%;
		min-height: 310px;
	}
	&__nav {
		@include center-horizontal;
		position: relative;
		margin: 30px 0 0 0;
		width: 200px;
		height: 50px;
	}
	&__button {
		height: 100%;
		width: calc(50% - 20px);
		margin: 0 10px 0 10px;
		float: left;
		border-radius: 5px;
		cursor: pointer;
		span {
			@include center;
			position: relative;
			display: inline-block;
		}
		&--active {
			span {
				text-decoration: underline;
			}
		}
	}
}

