$black: #222222;
$red: #F85658;
$blue: rgb(0, 119, 119);

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$small-breakpoint: em(1024) !default;

@mixin respond-to($media) {
  @if $media == non-mobile {
    @media only screen and (min-width: $small-breakpoint) { @content; }
  }
}

@mixin center {
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin center-horizontal {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

html, body {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	background-color: $black;
	color: white;
}

.title {
	height: 75px;
	background-color: $blue;
	h1 {
		@include center;
		position: relative;
		font-weight: 100;
		line-height: 75px;
		text-align: center;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-size: 2em;
		display: inline-block;
	}
	@include respond-to(non-mobile) {
		position: absolute;
		z-index: 2;
		left: 60%;
		top: 0;
		height: 100px;
		margin: 0 0 0 10px;
		color: $black;
		font-size: 1.5em;
	}
}

.nav {
	display: none;
	@include respond-to(non-mobile) {
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		padding: 0 0 0 115px;
		box-sizing: border-box;
		display: inline;
		position: absolute;
		left: 60%;
		top: 0;
		width: 40%;
		min-width: 475px;
		height: 100px;
		background-color: $blue;
		&__button {
			@include center-vertical;
			position: relative;
			float: left;
			margin: 0 10px 0 10px;
			width: 100px;
			height: 40px;
			background-color: $black;
			border-radius: 5px;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
			&--active {
				background-color: rgba(256,256,256, 0.3);
			}
		}
		span {
			@include center;
			position: relative;
			display: inline-block;
		}
	}
}

.info {
	display: inline-block;
	position: relative;
	margin: 0 10px 10px 10px;
	text-align: center;
	p {
		margin: 5px 0 5px 0;
	}
	@include respond-to(non-mobile) {
		@include center-vertical;
		position: absolute;
		width: 40%;
		left: 60%;
		display: inline-block;
		color: white;
		margin: 0 0 0 0;
		box-sizing: border-box;
		padding: 0 10px 0 10px;
	}
}

.music {
	height: 450px;
	width: 100%;
	margin: 0 0 10px 0;
	box-sizing: border-box;
	position: relative;
	padding: 0 10px 0 10px;
	@include respond-to(non-mobile) {
		padding: 0 40px 0 40px;
		position: absolute;
		@include center-vertical;
		width: 40%;
		height: 60%;
		left: 60%;
	}
}

.images {
	padding: 5px 0 0 0;
	position: relative;
	&__img {
		@include center-horizontal;
		height: 90%;
		width: 100%;
		background-position: top;
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
	}
	height: 400px;
	width: 100%;
	@include respond-to(non-mobile) {
		padding: 0 0 0 0;
		width: 60%;
		height: 100%;
		position: relative;
		box-sizing: border-box;
		// border-right: 5px solid $blue;
		&__img {
			background-position: center;
			height: 100%;
			width: 100%;
		}
	}
}

.images-arrows {
	@include center-horizontal;
	position: relative;
	height: 10%;
	width: 155px;
	&__arrow {
		width: 70px;
		float: left;
		margin: 10px 3px 0 3px;
		span {
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
			width: 100%;
			text-align: center;
			position: relative;
			display: inline-block;
			background-color: $blue;
			border-radius: 5px;
		}
	}
	@include respond-to(non-mobile) {
		position: absolute;
		top: 25px;
		left: calc(100% - 100px);
		&__arrow {
			cursor: pointer;
			// height: 100%;
		}
	}
}

