$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$small-breakpoint: em(1024) !default;

@mixin respond-to($media) {
  @if $media == non-mobile {
    @media only screen and (min-width: $small-breakpoint) { @content; }
  }
}

@mixin center {
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin center-horizontal {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

html, body {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	overflow: hidden;
	// background-color: black;
}

.mobile_test {
	display: none;
	@include respond-to('non-mobile') {
		display: block;
	}
}

.fullscreen {
	position: relative;
	height: 100%;
	width: 100%;
	&--home {
		box-sizing: border-box;
		border: 40px solid black;
	}
}

.arrows {
	position: absolute;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	z-index: 3;
	&__arrow {
		color: black;
		font-size: 2em;
		display: inline-block;
		float: left;
		&:hover {
			bottom: 15px;
		}
	}
	// &__right {
	// 	display: inline-block;
	// 	float: left;
	// }
}

.image-jumble-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	background-color: black;
	background-clip: content-box;
	@include respond-to('non-mobile') {
		padding: 20px 0 20px 0;
	}
	&__left-block {
		height: 100%;
		width: 35%;
		// background-color: white;
		float: left;
		box-sizing: border-box;
		position: relative;
		z-index: 1;
		padding: 20px 0 20px 0;
		overflow: hidden;
	}
	&__right-block {
		z-index: 2;
		position: relative;
		height: 100%;
		width: 65%;
		background-color: white;
		padding: 5px 5px 5px 0;
		background-clip: content-box;
		float: right;
		box-sizing: border-box;
		h1 {
			color: black;
			margin: 0 0 0 10px;
			font-size: 3em;
			position: relative;
		}
		h2 {
			color: black;
			float: left;
			// display: inline-block;
			position: relative;
			margin: 10px;
			float: left;
			font-weight: 100;
			cursor: pointer;
			&:hover {
				font-weight: bold;
			}
		}
	}
	@include respond-to('non-mobile') {
		@include center-horizontal;
		position: relative;
		width: 675px;
	}
}

.rotated-image {
	height: 50%;
	width: 100%;
	position: absolute;
	background: center/cover no-repeat;
	box-sizing: border-box;
}

.image-strip-container {
	position: absolute;
	height: 100%;
	width: 100%;
	@include respond-to('non-mobile') {
		@include center;
		width: 90%;
		height: 80%;
		min-width: 930px;
		min-height: 600px;
	}
}

.image-strip {
	position: relative;
	background: center/cover no-repeat;
	height: 100%;
	float: left;
	cursor: pointer;
	// transition-duration: 1s;
	@include respond-to('non-mobile') {
		@include center-vertical;
		border-left: 3px solid white;
		border-right: 3px solid white;
		box-sizing: border-box;
	}
	&:hover {
		// background-color: black;
		// background-image: none !important;
		background-size: 1%;
		background-repeat: repeat;
	}
}

.triple-image-container {
	height: 100%;
	width: 100%;
	&__image {
		width: 100%;
		margin: 5px 0 5px;
		height: calc(100%/3 - 10px);
		float: left;
	}
	@include respond-to('non-mobile') {
		@include center;
		box-sizing: border-box;
		position: relative;
		height: calc(100% - 50px);
		min-height: 650px;
		width: 90%;
		&__image {
			margin: 0 10px 0 10px;
			height: 100%;
			width: calc(100%/3 - 20px);
		}
	}
}

.double-image-container {
	height: 100%;
	width: 100%;
	&__image {
		width: calc(100% - 20px);
		margin: 5px 10px 5px 10px;
		height: calc(50% - 10px);
		float: left;
	}
	@include respond-to('non-mobile') {
		@include center;
		box-sizing: border-box;
		position: relative;
		height: calc(100% - 100px);
		min-height: 650px;
		width: 90%;
		&__image {
			margin: 0 10px 0 10px;
			height: 100%;
			width: calc(100%/2 - 20px);
			&:nth-child(1){
				background-position: right;
			}
			&:nth-child(2){
				background-position: left;
			}
			&--no-margin{
				margin: 0 0 0 0;
				width: 50%;
			}

		}
	}
}
.single-image-container {
	@include center;
	position: relative;
	height: 100%;
	width: 90%;
	&__image {
		width: 100%;
		height: 100%;;
	}
	@include respond-to('non-mobile') {
		@include center;
		position: relative;
		box-sizing: border-box;
		height: calc(100% - 100px);
		width: calc(100% - 100px);
		min-height: 650px;
		&__image {
			height: 100%;
			width: 100%;
		}
	}
}

.image {
	background: center/contain no-repeat;
}

.loader-container {
	@include center;
	position: absolute;
	height: 40px;
	width: 40px;
}

.loading {
	@include center;
	z-index: 2;
	position: absolute;
	// padding: 17px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: white;
	h1 {
		color: white;
		font-size: 2em;
	}
	&__container {
		@include center;
		position: relative;
		width: 60px;
		height: 60px;
	}
	&__icon {
		width: 60px;
		height: 60px;
		background-color: black;
		border-radius: 100%;
		-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
		animation: sk-scaleout 1.0s infinite ease-in-out;
	}
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


